* {
    font-family: 'Abang', sans serif
}

#container {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

h1 {
    color: #1da5be;
    text-align: center;
    font-size: 8em;
    margin: 0;
    /* top: -55%; */
}

#main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#main h1 {
    height: 20%;
    font-size: 8em;
    margin: 0 auto;
}

#gameboard {
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}

.cell {
    height: 12rem;
    width: 12rem;
    border: 1px solid #54276f;
    font-size: 7em;
    color: #d1439e;
    text-align: center;
}

img {
    height: 8rem;
    width: 6rem;
}

#reset {
    font-size: 1.2em;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    height: 3em;
    letter-spacing: 1em;
    background-color: #1da5be;
    color: white;
}

#pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #38cd2c;
}

#piece {
    font-size: 2em;
    letter-spacing: 0em;
}

#status {
    font-size: 2em;
    letter-spacing: 3em;
}